*{
    max-width: 1020px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #ffffff;
}

.header{
    width: 100%;
    height: 89px;
    background-color: #2d303a;
    display: inline-block;
}
.header__text{
    display: inline-block;
    margin-left: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 24.5px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 89px;
}
.header__line{
    width: 100%;
    height: 6px;
    background-color: #323746;
}
.colored{
    color: #c9605c;
}
.header__nav{
    width: 400px;
    position: relative;
    left: 449px;
    display: inline-block;
    
    
    color: #ffffff;
    
}
.header__item{
    line-height: 89px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 8.5pt;
    font-weight: 400;
}
.header__item:hover{
    color: #c9605c;
}
.dot{
    position: relative;
    left: 12px;
    color: #494e62;
}
.m_item{
    margin-left: 24px;
}
.slider{
    width: 100%;
    height: 600px;
    background-color: #f06c64; 
    position: relative; 
}
.slider__main{
    height: 594px;
}
.chev{
    position: absolute;
    top: 281px;
    left: 42px;  
    cursor: pointer;
}
.img1-1{
    position: absolute;
    top: 53px;
    left: 112px;
}
.img2-1{
    position: absolute;
    top: 174px;
    left: 425px;
}
.chev2{
    position: absolute;
    right: 40px;
    top: 281px;
    cursor: pointer;
}
.chev:hover{
    opacity: 0.5;
}
.chev2:hover{
    opacity: 0.5;
}

.slider__line{
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}
.services{
    width: 100%;
    height: 500px;
}
.services__text{
    width: 100%;
    height: 220px;
    position: relative;
    background-color: #f2f2f2;
}
.services__h{
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: #666d89;
    font-size: 30px;
    font-weight: 700;
    left: 40px;
    top: 60px;    
}
.services__p{
    width: 940px;
    position: absolute;
    font-family: 'Lato', sans-serif; 
    color: #767e9e; 
    font-size: 17px;
    line-height: 30px;
    left: 40px;
    top: 113px; 
    letter-spacing: 0.35px;
}
.services__items{
    width: 100%;
    height: 274px;
    background-color: #f2f2f2;
}
.items{
    width: 940px;
    height: 123px;
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
}
.items2{
    width: 940px;
    height: 123 px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
}
.design{
    width: 300px;   
    margin: 0px;
    position: relative;
    
}

.ideas{
    width: 300px;   
    margin: 0px;
    position: relative;
    margin-left: 20px;
}
.answer{
    width: 300px;
    margin: 0px;
    position: relative;
    margin-left: 20px;
}
.phone{
    width: 300px;
    margin: 0px;
    position: relative;
    
}
.bubble{
    width: 300px;
    margin: 0px;
    position: relative;
    margin-left: 20px;
}
.star{
    width: 300px;
    margin: 0px;
    position: relative;
    margin-left: 20px;
}
.items img{
    display: inline-block;
}

.items__text{
    font-family: 'Lato', sans-serif;
    color: #767e9e;
    font-size: 12px;
    position: absolute;
    left: 80px;
    top: 28px;
    width: 220px;
    text-align: justify;
    text-align-last: justify;
    line-height: 21.56px;
}
.items__text2{
    font-family: 'Lato', sans-serif;
    color: #767e9e;
    font-size: 12px;
    position: absolute;
    left: 80px;
    top: 73px;
    width: 220px;   
}
.items__h{
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: #666d89;
    font-size: 18px;
    left: 80px;
    top: -4px;
}
.services__line{
    width: 100%;
    height: 6px;
    color: #ffffff;
}


/* 2nd */

.portfolio__container{
    height: 870px;
    position: relative;
}
.portfolio{
    height: 864px;
    background-color: #2d303a;
    position: relative;
}
.portfolio__text{
    position: absolute;
    font-family: 'Lato', sans-serif;
    left: 41px;
    top: 60px;
    font-size: 30px;
    color: #666d89;
    letter-spacing: 0.5px;
}
.p__text{
    position: absolute;
    font-family: 'Lato', sans-serif;
    left: 41px;
    top: 119px;
    letter-spacing: 0.18px;
    font-size: 17px;
    color: #666d89;    
}
button{
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 11px;
    
    color: #666d89;
    text-decoration: none;
    background-color: #2d303a;
    cursor: pointer;  
}
.buttons{
    position: relative;
}
.button__all{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 22px;
    width: 30px;
    
}
.button__web-design{
    letter-spacing: 0.25px;
    position: absolute;
    top: 0px;
    left: 40px;
    height: 22px;
    width: 78px;
}
.button__graphic-design{
    position: absolute;
    letter-spacing: 0.21px;
    top: 0px;
    left: 127px;
    height: 22px;
    width: 93px;
}
.button__artwork{
    letter-spacing: 1.1px;
    position: absolute;
    top: 0px;
    left: 230px;
    height: 22px;
    width: 57px;
}
button:hover{
    color: #ffffff;
    border: 1px solid #ffffff;
}
.buttons{
    position: absolute;
    top: 155px;
    left: 41px;
}
.images{
    position: absolute;
    top: 196px;
    left: 41px;
    max-height: 620px;
}
.image__line{
    position: relative;
}
.first{
    float:left;
    width:25%;
}
.second{
    float:left;
    width:25%;
}
.third{
    float:left;
    width:25%;
}
.fourth{
    float:left;
    width:25%;
}
.img{
    padding-right: 20px;
}
.img2{
    padding-right: 20px;
    padding-top: 15px;
    
}
.img3{
    padding-right: 20px;
    padding-top: 15px;  

}
.portfolio__line{
    width: 100%;
    height: 6px;
    background-color: #323746;
}
.about_us{
    height: 734px;
    width: 100%;   
}
.about__main{
    height: 728px;
    background-color: #f2f2f2;
    position: relative;
}

h2{
    position: absolute;
    font-family: 'Lato', sans-serif;
    left: 41px;
    top: 59px;
    letter-spacing: 0.5px;
    font-size: 30px;
    color: #666d89;    
}
.about__text{
    position: absolute;
    font-family: 'Lato', sans-serif;
    left: 41px;
    top: 115px;
    line-height: 1.7;
    letter-spacing: 0.29px;
    font-size: 17px;
    color: #666d89;
}
.block{
    position: absolute;
    top: 218px;
    left: 40px;
}
.inline div{
    display: inline-block;
    vertical-align: top;
}
.left{
    display: inline-block;
    width: 300px;
    height: 450px;
    position: relative;
}
.center{
    display: inline-block;
    width: 300px;
    height: 450px;
    padding-left: 16px;
    padding-right: 17px;
    position: relative;
}
.rigth{
    display: inline-block;
    max-width: 300px;
    height: 450px;
    position: relative;
    
}
.image{
    width: 300px;
    height: 300px;
}
.block__h{
    position: absolute;
    top: 315px;
    letter-spacing: 0.2px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #666d89;
}
.block__text{
    position: absolute;
    top: 345px;
    line-height: 1.95;
    letter-spacing: 0.38px;
    font-family: 'Lato', sans-serif;
    color: #767e9e;
    font-size: 11px;
    max-width: 300px;    
}
.links1{
    position: absolute;
    top: 388px;
    left: 1px;
    display: inline-block;
}
.links2{
    position: absolute;
    top: 388px;
    left: 16px;
    display: inline-block;     
}
.links3{
    position: absolute;
    top: 388px;
    left: 640px;
    display: inline-block;  
}
.links1 img{
    padding-right: 4px;
    width: 32px;
    height: 32px;
}
.links2 img{
    padding-right: 4px;
    width: 32px;
    height: 32px;
}
.links3 img{
    padding-right: 4px;
    width: 32px;
    height: 32px;
}
.links img:hover{
    opacity: 0.7;
}
.about__line{
    height: 6px;
    width: 100%;
    background-color: #ffffff;
}
.quote{
    width: 100%;
    height: 654px;
}
.main__qoute{
    position: relative;
    width: 100%;
    height: 648px;
    background-color: #f06c64;
    font-size: 10px;
}
.qoute__line{
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}
.h__text{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 59px;
    letter-spacing: 0.2px;
    left: 40px;
    color: #f0d8d9;
}
.qoute__text{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 113px;
    line-height: 1.9rem;
    letter-spacing: 0.05rem;
    left: 40px;
    color: #f0d8d9;
    font-weight: 100;
}
.contacts{
    position: absolute;
    top: 217px;
    left: 40px;
}
.contacts__form{
    display: inline-block;
    width: 620px;
}
.contact__info{ 
    display: inline-block;
    width: 300px;
    float: right;
    padding-left: 20px;
    
}

.contacts__field{
    
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px 13px;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;  
    border: none;
    outline: none; 
}
.contacts__field::placeholder{
    color: #f48c8f;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}
.contacts__textarea{
    height: 202px;   
}
.submit__button{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    color: #f0d8d9;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: none;
    border-radius: 6px;
    background: linear-gradient(#ff895af5, #d6564f) #d16c66;
    
}
.submit__button:hover{
    background: linear-gradient(#ff895a, #d43a32) #cf7570;
}
.submit__button:active{
    background: linear-gradient(#eb4040, #d43a32) #eb4040;
}
.info__title{
    position: absolute;
    top: -2px;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 0.35px;
}
.info__text{
    position: absolute;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-size: 12px;   
    line-height: 21px;
    justify-content: center;
    text-align: justify;
    padding-bottom: 25px;
    top: 28px;
    letter-spacing: 0.001rem;
    
}
.contact1{
    position: absolute;
    top: 140px;  
}
.contact2{
    position: absolute;
    top: 161px;  
}
.contact3{
    position: absolute;
    top: 183px;  
}
a{
    text-decoration: none;
}
.location{
    padding-left: 3px;
}
.phone3{
    padding-left: 1px;   
}
.contact__link1{
    color: #f0d8d9;
    font-size: 12px;
    margin-left: 11px;
    font-family: 'Lato', sans-serif;
}
.contact__link2{
    color: #f0d8d9;
    font-size: 12px;
    margin-left: 9px;
    font-family: 'Lato', sans-serif;
}
.contact__link3{
    color: #f0d8d9;
    font-size: 12px;
    margin-left: 8px;
    font-family: 'Lato', sans-serif;   
}
.footer{
    width: 100%;
    height: 76px;
    background-color: #2d303a;
}
.footer__text{
    font-family: 'Lato', sans-serif;
    color: #666d89;
    line-height: 76px;
    padding-left: 40px;
    font-size: 12px;   
}
.links{
    float: right;
    padding-right: 40px;
    padding-top: 22px;
}
.facebook3{
    position: relative;
    left: -12px;
}
.google3{
    position: relative;
    left: -8px;
}
.twitter3{
    position: relative;
    left: -4px;
}